        profile {
            font-family: Arial, sans-serif;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .profile-card {
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 250px;
            padding: 20px;
            text-align: center;
        }

        /* Hover effect on profile cards */
        .profile-card:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
        }

        .profile-image {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
            margin: 0 auto 10px;
        }

        .hashtags {
            margin: 10px 0;
        }

        .hashtags span {
            background-color: #952370;
            color: #fff;
            padding: 5px 10px;
            border-radius: 20px;
            margin: 0 5px;
            font-size: 12px;
        }

        .vote-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .vote-button:hover {
            background-color: #0056b3;
        }